<h2 class ='text-center'>Creating a new Cocktail</h2>


<div class="form-new">
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.error_notification message: 'This is all wrong 🙅 try again ' %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :name%>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Add a Cocktail", class: "btn btn-primary" %>
  <% end %>
</div>
