

<h1> Cocktail: <%= @cocktail.name %></h1>
<div class="container-show p-2">
    <div class="cocktail-card d-flex justify-content-between align-items-start">
      <div class="list-doses align-self-start align-content-start">
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <div class="card-ingredient">
              <li> <%= dose.description %> -> <%= dose.ingredient.name %> </li>
            </div>
          <% end %>
        </ul>
      </div>


      <div class="photo-in-show">
        <% if @cocktail.photo.attached? %>
          <%= cl_image_tag @cocktail.photo.key, height: 300, width: 300, radius:20, crop: :fill %>
        <% else %>
          <%= cl_image_tag 'vz2udx1knz1vdpabr19u', height: 300, width: 300, radius:20, crop: :fill %>
        <% end %>
      </div>

    </div>
  <br>
  <br>
  <div class="ingredient-form">
    <%= simple_form_for [ @cocktail, @dose ] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit "Add a dose", class: "btn btn-primary add-dose" %>
    <% end %>
  </div>
</div>
