
<h1> Cocktail: <%= @cocktail.name %></h1>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <div class="card mt-3 p-4 round">
      <li> <%= dose.description %> -> <%= dose.ingredient.name %> </li>
    </div>
  <% end %>
</ul>
<br>
<br>
<div class="Review">
  <%= simple_form_for [ @cocktail, @dose ] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Add a dose", class: "btn btn-primary" %>
  <% end %>
</div>

